@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.index-header {
  width: 100%;
  height: 100vh;
}

.index-header .index-header-items h2, .header-line, nav .brand-name a {
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.standard-btn {
  background: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 30px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 40px;
}
nav .brand-name a {
  color: #fff;
  font-size: 32px;
  text-decoration: none;
}
nav .nav-links {
  display: flex;
  list-style: none;
}
nav .nav-links li {
  padding-left: 20px;
}
nav .nav-links li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
nav .nav-links li a:hover {
  color: lightgray;
  transition: 0.2s;
}
nav .oc-icon {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin: 10px;
  z-index: 15;
}
nav #open-icon {
  display: none;
}
nav #close-icon {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav .nav-links {
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  nav .nav-links {
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.7);
    display: none;
    font-size: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
  }
  nav .nav-links li {
    padding: 20px;
  }
  nav #open-icon {
    display: block;
  }
  nav #close-icon {
    display: none;
  }
}
header {
  background: url(../images/meat2.png);
  background-size: cover;
  width: 100%;
  height: 300px;
  position: relative;
}
header .page-title {
  color: #fff;
  font-size: 4rem;
  letter-spacing: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px 5px 40px #000;
  text-transform: uppercase;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ff359b;
  position: relative;
}
footer .bg-square {
  position: absolute;
  bottom: 0;
  height: 75%;
}
footer .bg-square-1 {
  background: #00d2ff;
  width: 50%;
  left: 10%;
}
footer .bg-square-2 {
  background: #fffd87;
  width: 25%;
  right: 10%;
}
footer::before {
  content: "";
  backdrop-filter: blur(200px);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
footer .line {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 3;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 4;
}
footer .social-media .sm-link {
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10%;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 80px 20px;
  width: 50px;
  height: 50px;
  transform: translateY(0);
  transition: 0.2s;
}
footer .social-media .sm-link:hover {
  transform: translateY(-10px);
  transition: 0.2s;
}
footer .social-media .sm-link i {
  color: #fff;
  font-size: 28px;
}

.button-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.button-sec p {
  font-size: 14px;
}

.button-sec a {
  border: 3px solid #000;
  margin-top: 20px;
}

.button-sec a:hover {
  background: #333333;
  color: #fff;
}

.button-sec a {
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
}

.header-line {
  font-size: 2em;
  margin-bottom: 20px;
}

.index-header {
  background: url(../images/meat1.webp);
  background-size: cover;
}
.index-header .index-header-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 90px);
}
.index-header .index-header-items h2 {
  color: #fff;
  font-size: 72px;
  margin-bottom: 10px;
  text-shadow: 5px 5px 20px #000;
}
.index-header .index-header-items button {
  border: none;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-content: center;
  margin: 50px 100px;
}
.menu .menu-col {
  border: 1px solid #000;
  padding: 30px;
}
.menu .menu-col .menu-item {
  margin-bottom: 20px;
}

@media only screen and (max-width: 992px) {
  .menu {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
.contacts {
  padding: 2.5rem;
}
.contacts .contact-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts .contact-section .contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

@media only screen and (max-width: 768px) {
  .contact-section {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
