@mixin centered($direction: row) {
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin transition($time) {
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
}

@mixin transform($transformation) {
    transform: $transformation;
    -webkit-transform: $transformation;
    -moz-transform: $transformation;
    -ms-transform: $transformation;
    -o-transform: $transformation;
}