@mixin centered($direction: row) {
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin transition($time) {
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
    -o-transition: $time;
}