// Backgrounds

// Buttons
$standard-btn-bg: #fff;

// Footer
$footer-bg: #ff359b;
$bg-square-one-bg: #00d2ff;
$bg-square-two-bg: #fffd87;

// Navigation
$nav-link-menu-bg: rgba(0, 0, 0, 0.7);

// Site header (all pages except Homepage)
$site-header-bg: url(../images/meat2.png);

// Button Section
$button-hover-bg: hsl(0, 0%, 20%);

// Homepage
$page-header-bg: url(../images/meat1.webp);
$head-chef-bg: linear-gradient(#f3f0ec, #ffcc33);