.index-header {
    @extend %full-screen;
    background: $page-header-bg;
    background-size: cover;

    .index-header-items {
        height: calc(100vh - 90px);
        display: flex;
        @include centered(column);

        h2 {
            text-transform: uppercase;
            color: #fff;
            font-size: 72px;
            margin-bottom: 10px;
            text-shadow: 5px 5px 20px #000;
        }

        button {
            border: none;
        }
    }
}

.head-chef-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $head-chef-bg;
    // background: linear-gradient(#abbaab, #ffffff);
    @extend %full-screen;

    .chef-img {
        max-width: 290px;
        width: 30%;
        margin: 3em;

        img {
            width: 100%;
        }
    }
    .chef-info {
        margin: 2em;

        h5 {
            font-size: 20px;
            text-transform: uppercase;
        }
    }       
}


@media only screen and (max-width: 1163px) {
    .head-chef-sec {
        flex-direction: column;
        height: auto;

        .chef-img {
            width: 278px;
        }
    }
}

@media only screen and (max-width: 566px) {
    .index-header {
        .index-header-items {
            h2 {
                font-size: 60px;
            }
        }
    }
}