.index-header {
    @extend %full-screen;
    background: url(../images/meat1.webp);
    background-size: cover;

    .index-header-items {
        @include centered(column);
        height: calc(100vh - 90px);

        h2 {
            @extend %uppercase-text;
            color: #fff;
            font-size: 64px;
            margin-bottom: 10px;
            text-shadow: 5px 5px 20px #000;
        }

        button {
            border: none;
        }
    }
}

.contact-index {
    @include centered(column);
    width: 100%;
    height: 50vh;
}

.contact-index h3 {
    font-size: 28px;
    @extend %uppercase-text;
}

.contact-index p {
    font-size: 14px;
    margin-top: 20px;
}

.contact-index a {
    border: 3px solid #000;
    margin-top: 20px;
}

.contact-index a:hover {
    background: hsl(0, 0%, 20%);
    color: #fff;
}

.contact-index a {
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
}